<!--
* create operation file for Orderlineitems in orderlineitems view .
* @ Author: Sambi Reddy Chaimella
*/-->

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">

      <br/>
      <h2>Create a new Order Line Item </h2>
      <br/>
      <% maxID=0; for (let i=0; i< orderLineItems.query.length; i++) {
        if(orderLineItems.query[i]._id > maxID) { maxID=orderLineItems.query[i]._id;   }
        let id = orderLineItems.query[i]._id;}%>
      <div class="content">
        <div>
          <form name="orderLineItem" method="POST" action="/orderLine/save">

            <div class="form-group" id="frm">
              <label for="_id">OrderLineItem ID</label>
              <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
              </input>
            </div>

            <!-- COMMON TO EDIT AND CREATE -->
            <% include partial_edit.ejs %>
            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-primary" />
            </div>

          </form>

          <br/>

          <form method="get" action="/orderLine">
            <input type="submit" value="Return to list" class="btn btn-caution" />
          </form>

        </div>
      </div>
    </div>
  </div>
</div>