
<!--
* delete operation file for Orderlineitems in orderlineitems view .
* @ Author: Sambi Reddy Chaimella
*/-->

<h2>Confirm deletion of Customer</h2>
<br />
<br /> OrderLineItem ID:
<%=orderLineItem._id %>
<br>
  OrderId:
  <%=orderLineItem.orderID%>
  <br />lineNumber:
    <%=orderLineItem.lineNumber%>
      <br /> productKey:
      <%=orderLineItem.productKey%>
        <br /> quantity:
        <%=orderLineItem.quantity%>
    

  <form method="get" action="/orderLine">
    <input type="submit" value="Return to list" class="btn btn-caution" />
  </form>

  <br />
  <form method="POST" action="/orderLine/delete/<%=orderLineItem._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
  </form>