<!--
* read operation file for Orderlineitems in orderlineitems view .
* @ Author: Sambi Reddy Chaimella
*/-->

<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h2>Details of selected OrderLineItem </h2>
      <div class="content">
        <form method="POST" action="/orderLine/save/<%=orderLineItem._id %>">
          <div class="form-group" id="frm">
            <label for="_id">orderLineItem ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%=orderLineItem._id %>" required disabled>
          </div>
          <!-- COMMON TO EDIT AND CREATE -->
          <%include partial_edit.ejs%>
           
        </form>
      </div>
    </div>
  </div>
</div>