<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li><a href="https://sambireddy-profileapp.herokuapp.com/" target ="blank">Sambi Reddy Chanimella</a></li>
            <li><a href="https://sandeepdevineni.herokuapp.com/">Sandeep Devineni</a></li>
            <li><a href="https://uniquefullstacksite.herokuapp.com/">Roshan Thalal</a></li>
          </ul>
        </li>
    </ul>
  </li>