
<p>If you have any queries, please submit in this form</p>


<!--Bootstrap style sheet-->

<form method="post" >
 
  <div class="form-group">  
     
  Full Name: <input type="text" name="name" id="name" class="form-control" placeholder="Full Name" required/> 
  </div>
  
   

    <div class="form-group">  
         
      Email: <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email" required /> 
      </div>  
      
   <div class="form-group">  
 
   Type Question: <input type="text" name="question" id="quesion" class="form-control"  placeholder="Question" required/> 
   </div>  
 
   

    <div class="form-group">
  Message: 
      <textarea rows="5" cols="30" id="Message" name="Message" placeholder="Message" class="form-control" style="width:100%" required></textarea>
    
    </div>
 
    <div class="form-group">  
    
          <button type="submit" class="btn btn-default">Submit</button>&nbsp;&nbsp;&nbsp;
      
    </div>  
    
  
      


  
</form>

</body>

