<!--
* customer index file, which includes all links of CRUD.
* @ Author: Sambi Reddy Chaimella
*/-->

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h1>Order-Here</h1>
      <br/>
   
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
      
          <li>
            <a href="http://localhost:8089/Customer/index">Recent Customer Entries</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/create">http://localhost:8089/Customer/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/edit/1">http://localhost:8089/Customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/edit/2">http://localhost:8089/Customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/edit/3">http://localhost:8089/Customer/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/delete/1">http://localhost:8089/Customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/delete/2">http://localhost:8089/Customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/delete/3">http://localhost:8089/Customer/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/details/1">http://localhost:8089/Customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/details/2">http://localhost:8089/Customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/details/3">http://localhost:8089/Customer/details/3</a>
          </li>


          <br />
       
        
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

        

          <li>
            <a href="http://localhost:8089/Customer/findall">http://localhost:8089/Customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/1">http://localhost:8089/Customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/2">http://localhost:8089/Customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/3">http://localhost:8089/Customer/findone/3</a>
          </li>

          <br />
        

        </ol>

      </div>
  </div>
</div>