<div class="container">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Order Here</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
		
          <li>
            <a href="\product" >
              Product <span class="sr-only">(current)</span>
            </a>
          </li>
       
           <li>
            <a class="nav-link" href="\order" >
              Order <span class="sr-only">(current)</span>
            </a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="\orderLine" >
              Order Line <span class="sr-only">(current)</span>
            </a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/customer" >
              Customers <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="\contact" >
              Contact Us <span class="sr-only">(current)</span>
            </a>
          </li>
          <%include about.ejs%>
         
       
          

        </ul>
	
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>