<!--
* index file, which includes images of products.
* @ Author: Sambi Reddy Chaimella
*/-->
  
  
<!--
* Order Line Item index file, which includes all links of CRUD.
* @ Author: Sambi Reddy Chaimella
*/-->

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h1>Order-Here</h1>
      <br/>
   
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
           <br />
          <h2>Customers CRUD</h2>
           <ol>
             
          <li>
            <a href="http://localhost:8089/Customer/index">Recent Customer Entries</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/create">http://localhost:8089/Customer/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/edit/1">http://localhost:8089/Customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/edit/2">http://localhost:8089/Customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/edit/3">http://localhost:8089/Customer/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/delete/1">http://localhost:8089/Customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/delete/2">http://localhost:8089/Customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/delete/3">http://localhost:8089/Customer/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/Customer/details/1">http://localhost:8089/Customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/details/2">http://localhost:8089/Customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/details/3">http://localhost:8089/Customer/details/3</a>
          </li>


          <br />
       
        
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

        

          <li>
            <a href="http://localhost:8089/Customer/findall">http://localhost:8089/Customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/1">http://localhost:8089/Customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/2">http://localhost:8089/Customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/Customer/findone/3">http://localhost:8089/Customer/findone/3</a>
          </li>

          <br />
        

        </ol>

          <h2>Products CRUD</h2>
           <ol>
        
       
          <li>
            <a href="http://localhost:8089/product">http://localhost:8089/product</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/create">http://localhost:8089/product/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/product/edit/1">http://localhost:8089/product/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/2">http://localhost:8089/product/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/3">http://localhost:8089/product/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/product/delete/1">http://localhost:8089/product/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/2">http://localhost:8089/product/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/3">http://localhost:8089/product/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/product/details/1">http://localhost:8089/product/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/2">http://localhost:8089/product/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/3">http://localhost:8089/product/details/3</a>
          </li>

          <br />
       
         
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

        
          <li>
            <a href="http://localhost:8089/product/findall">http://localhost:8089/product/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/1">http://localhost:8089/product/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/2">http://localhost:8089/product/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/3">http://localhost:8089/product/findone/3</a>
          </li>

          <br />
        

        </ol>

          <h2>Orders CRUD</h2>
       <ol>
               
          <li>
            <a href="http://localhost:8089/order/index">Recent Orders</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/create">http://localhost:8089/order/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/order/edit/1">http://localhost:8089/order/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/2">http://localhost:8089/order/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/3">http://localhost:8089/order/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/order/delete/1">http://localhost:8089/order/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/2">http://localhost:8089/order/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/3">http://localhost:8089/order/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/order/details/1">http://localhost:8089/order/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/2">http://localhost:8089/order/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/3">http://localhost:8089/order/details/3</a>
          </li>

        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

                 <li>
            <a href="http://localhost:8089/order/findall">http://localhost:8089/order/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/1">http://localhost:8089/order/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/2">http://localhost:8089/order/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/3">http://localhost:8089/order/findone/3</a>
          </li>

        </ol>
            <h2>OrderLineItem CRUD</h2>
          <ol>
          
          <li>
            <a href="http://localhost:8089/orderLine/index">Recent OrderLine entries</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/create">http://localhost:8089/orderLine/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/orderLine/edit/1">http://localhost:8089/orderLine/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/edit/2">http://localhost:8089/orderLine/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/edit/3">http://localhost:8089/orderLine/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/orderLine/delete/1">http://localhost:8089/orderLine/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/delete/2">http://localhost:8089/orderLine/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/delete/3">http://localhost:8089/orderLine/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/orderLine/details/1">http://localhost:8089/orderLine/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/details/2">http://localhost:8089/orderLine/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/details/3">http://localhost:8089/orderLine/details/3</a>
          </li>

          <br />
        
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

        
		  <li>
            <a href="http://localhost:8089/orderLine/findall">http://localhost:8089/orderLine/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/findone/1">http://localhost:8089/orderLine/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/findone/2">http://localhost:8089/orderLine/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/findone/3">http://localhost:8089/orderLine/findone/3</a>
          </li>

          <br />
       

        </ol>


      </div>
  </div>
</div>