<!--
* Order Line Item index file, which includes all links of CRUD.
* @ Author: Sambi Reddy Chaimella
*/-->

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h1>Order-Here</h1>
      <br/>
   
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
           <br />
       
          <li>
            <a href="http://localhost:8089/orderLine/index">Recent OrderLine entries</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/create">http://localhost:8089/orderLine/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/orderLine/edit/1">http://localhost:8089/orderLine/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/edit/2">http://localhost:8089/orderLine/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/edit/3">http://localhost:8089/orderLine/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/orderLine/delete/1">http://localhost:8089/orderLine/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/delete/2">http://localhost:8089/orderLine/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/delete/3">http://localhost:8089/orderLine/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/orderLine/details/1">http://localhost:8089/orderLine/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/details/2">http://localhost:8089/orderLine/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/details/3">http://localhost:8089/orderLine/details/3</a>
          </li>

          <br />
        
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

        
		  <li>
            <a href="http://localhost:8089/orderLine/findall">http://localhost:8089/orderLine/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/findone/1">http://localhost:8089/orderLine/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/findone/2">http://localhost:8089/orderLine/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/orderLine/findone/3">http://localhost:8089/orderLine/findone/3</a>
          </li>

          <br />
       

        </ol>


      </div>
  </div>
</div>