<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h1>Order-Here</h1>
      <br/>
   
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
               
          <li>
            <a href="http://localhost:8089/order/index">Recent Orders</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/create">http://localhost:8089/order/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/order/edit/1">http://localhost:8089/order/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/2">http://localhost:8089/order/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/edit/3">http://localhost:8089/order/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/order/delete/1">http://localhost:8089/order/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/2">http://localhost:8089/order/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/delete/3">http://localhost:8089/order/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/order/details/1">http://localhost:8089/order/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/2">http://localhost:8089/order/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/details/3">http://localhost:8089/order/details/3</a>
          </li>

        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

                 <li>
            <a href="http://localhost:8089/order/findall">http://localhost:8089/order/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/1">http://localhost:8089/order/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/2">http://localhost:8089/order/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/order/findone/3">http://localhost:8089/order/findone/3</a>
          </li>

        </ol>


      </div>
  </div>
</div>