<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h1>Order-Here</h1>
      <br/>
   
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
        
       
          <li>
            <a href="http://localhost:8089/product">http://localhost:8089/product</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/create">http://localhost:8089/product/create</a>
          </li>

          <li>
            <a href="http://localhost:8089/product/edit/1">http://localhost:8089/product/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/2">http://localhost:8089/product/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/edit/3">http://localhost:8089/product/edit/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/product/delete/1">http://localhost:8089/product/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/2">http://localhost:8089/product/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/delete/3">http://localhost:8089/product/delete/3</a>
          </li>

          <li>
            <a href="http://localhost:8089/product/details/1">http://localhost:8089/product/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/2">http://localhost:8089/product/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/details/3">http://localhost:8089/product/details/3</a>
          </li>

          <br />
       
         
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>

        
          <li>
            <a href="http://localhost:8089/product/findall">http://localhost:8089/product/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/1">http://localhost:8089/product/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/2">http://localhost:8089/product/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/product/findone/3">http://localhost:8089/product/findone/3</a>
          </li>

          <br />
        

        </ol>


      </div>
  </div>
</div>