<!--Author: Roshan Thalal-->


<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="datePlaced">Date Placed</label>
      <input type="date" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>"
        required>
    </div>
    <div class="form-group">
      <label for="dateShipped">Date Shipped</label>
      <input type="date" class="form-control" id="dateShipped" name="dateShipped" value="<%= order.dateShipped %>">
    </div>
    <div class="form-group">
      <label for="paymentType">Payment Type</label>
      <select type="text" class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>">
        <option value="Credit Card">Credit Card</option>
        <option value="Check">Check</option>
        <option value="Cash">Cash</option>
      </select>
        
    </div>
    <div class="form-group">
      <label for="paid">Paid</label>
      <select type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>" required>
          <option value="true">True (Paid)</option>
          <option value="false">False (Not Paid)</option>
      </select>
    </div>
  </div>
</div>