
<h2>Confirm deletion of product</h2>
<br />
<br /> product ID:
<%=product._id %>
<br>
productKey:
  <%=product.productKey%>
  <br />description:
  <%=product.description%>
  <br /> unitPrice:
  <%=product.unitPrice%>

  <form method="get" action="/product">
    <input type="submit" value="Return to list" class="btn btn-caution" />
  </form>

  <br />
  <form method="POST" action="/product/delete/<%= product._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
  </form>