<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h2>details of product </h2>
      <div class="content">
        <form method="POST" action="/product/save/<%=product._id %>">
          <div class="form-group" id="frm">
            <label for="_id">product ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%=product._id %>" required disabled>
          </div>
          <!-- COMMON TO EDIT AND CREATE -->
          <%include partial_edit.ejs%>
          
        </form>
      </div>
    </div>
  </div>
</div>