<br/>
<br/>
<div class="container-fluid">
  <div class="row">
    <a href="product/create" class="btn btn-primary new">
      Create a new product
    </a>
    <div class="col col-md-12">
      <h2>Recent product entries</h2>
      <p>
        There are
        <%= products.query.length %> products.
      </p>
      <% for ( let i = 0; i< products.query.length; i++) {   
      product = products.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=product._id %>
          <br>
          productKey:
            <%=product.productKey %>
            <br>
            description:
              <%=product.description %>
              <br>
              unitPrice:
                <%=product.unitPrice %>
                <br>
                 
                              <br>
                                <form method="get" action="/product/delete/<%=product._id %>">
                                  <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                                <form method="get" action="/product/details/<%=product._id %>">
                                  <input type="submit" value="details" class="btn btn-info" />
                                </form>
                                <form method="get" action="/product/edit/<%=product._id %>">
                                  <input type="submit" value="Edit" class="btn btn-primary" />
                                  <br />
                                </form>
                              </div>
      </div>
      <% } %>

    </div>
  </div>
</div>
