<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="productKey">productKey</label>
        <input type="String" class="form-control" id="productKey" name="productKey" value="<%= product.productKey %>" required>
      </div>
  
       <div class="form-group">
        <label for="description">description</label>
        <input type="String" class="form-control" id="description" name="description" value="<%= product.description %>" required>
      </div> 
      <div class="form-group">
        <label for="unitPrice">unitPrice</label>
        <input type="Number" class="form-control" id="unitPrice" name="unitPrice" value="<%= product.unitPrice %>" required>
      </div> 
      
     
    </div>
  </div>
  <hr>
  
  <!-- parents  -->
  <p></p>
  