<!--
* Create operation file for customers in customers view .
* @ Author: Sambi Reddy Chaimella
*/-->

<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">

      <br/>
      <h2>Create a new Customer </h2>
      <br/>
      <% maxID=0; for (var i=0; i< customers.query.length; i++) {
        if(customers.query[i]._id > maxID) { maxID=customers.query[i]._id;   }
       }%>
      <div class="content">
        <div>
          <form name="customer" method="POST" action="/customer/save">

            <div class="form-group" id="frm">
              <label for="_id">Customer ID</label>
              <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly></input>
            </div>

            <!-- COMMON TO EDIT AND CREATE -->
           <% include partial_edit.ejs %>
              <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
              </div>
             
            </form>

          <br/>

          <form method="get" action="/customer">
            <input type="submit" value="Return to list" class="btn btn-caution" />
          </form>

        </div>
      </div>
    </div>
  </div>
</div>