
<!--
* Delete operation file for customers in customers view .
* @ Author: Sambi Reddy Chaimella
*/-->

<h2>Confirm deletion of Customer</h2>
<br />
<br /> Customer ID:
<%=customer._id %>
<br>
  given:
  <%=customer.given%>
  <br />family:
  <%=customer.family%>
  <br /> street1:
  <%=customer.street1%>
  <br /> street2:
  <%=customer.street2%>
    <br /> city:
  <%=customer.city%>
  <br /> state:
  <%=customer.state%>
  <br /> zip
  <%=customer.zip%>
  <br />country
  <%=customer.country%>

  <form method="get" action="/customer">
    <input type="submit" value="Return to list" class="btn btn-caution" />
  </form>

  <br />
  <form method="POST" action="/customer/delete/<%= customer._id %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
  </form>