<!--
* Index operation file for customers in customers view .
* @ Author: Sambi Reddy Chaimella
*/-->

<br/>
<br/>
<div class="container-fluid">
  <div class="row">
     <a href="Customer/create" class="btn btn-primary new">
      Create a new Customer
    </a>
    <div class="col col-md-12">
      <h2>Recent customer entries</h2>
      <p>
        There are
        <%= customers.query.length %> customers.
      </p>
      <% for ( let i = 0; i< customers.query.length; i++) {   
      customer = customers.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">
          ID:
          <%=customer._id %>
          <br>
            Email:
            <%=customer.email %>
            <br>
              FirstName:
              <%=customer.given %>
              <br>
                LastName:
                <%=customer.family %>
                <br>
                  Street Address:
                  <%=customer.street1 %>
                  <br>
                    Street Address2:
                    <%=customer.street2 %>
                    <br>
                      City:
                      <%=customer.city %>
                      <br>
                        State:
                        <%=customer.state %>
                        <br>
                          Zip-Code:
                          <%=customer.zip %>
                          <br>
                            country:
                            <%=customer.country %>
                            <br>
                              <br>
                                <form method="get" action="/customer/delete/<%=customer._id %>">
                                  <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                                <form method="get" action="/customer/details/<%=customer._id %>">
                                  <input type="submit" value="details" class="btn btn-info" />
                                </form>
                                <form method="get" action="/customer/edit/<%=customer._id %>">
                                  <input type="submit" value="Edit" class="btn btn-primary" />
                                  <br />
                                </form>
                              </div>
      </div>
      <% } %>

    </div>
  </div>
</div>
