<!--
* partial edit operation file for customers in customers view .
* @ Author: Sambi Reddy Chaimella
*/-->

<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= customer.email %>" required>
    </div>

     <div class="form-group">
      <label for="given">given</label>
      <input type="text" class="form-control" id="given" name="given" value="<%= customer.given %>" required>
    </div> 
	<div class="form-group">
      <label for="family">family</label>
      <input type="text" class="form-control" id="family" name="family" value="<%= customer.family %>" required>
    </div> 
	<div class="form-group">
      <label for="street1">street1</label>
      <input type="text" class="form-control" id="street1" name="street1" value="<%= customer.street1 %>" required>
    </div>
	<div class="form-group">
      <label for="street2">street2</label>
      <input type="text" class="form-control" id="street2" name="street2" value="<%= customer.street2 %>" required>
    </div>
	<div class="form-group">
      <label for="city">city</label>
      <input type="text" class="form-control" id="city" name="city" value="<%= customer.city %>" required>
    </div>
	<div class="form-group">
      <label for="state">state</label>
      <input type="text" class="form-control" id="state" name="state" value="<%= customer.state %>" required>
    </div>
	<div class="form-group">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" id="zip" name="zip" value="<%= customer.zip %>" required>
    </div>
	<div class="form-group">
      <label for="country">country</label>
      <input type="text" class="form-control" id="country" name="country" value="<%= customer.country %>" required>
    </div>
   
  </div>
</div>
<hr>

<!-- parents  -->
<p></p>
