<!--
* Read operation file for customers in customers view .
* @ Author: Sambi Reddy Chaimella
*/-->

<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h2>details of Customer </h2>
      <div class="content">
        <form method="POST" action="/customer/save/<%=customer._id %>">
          <div class="form-group" id="frm">
            <label for="_id">customer ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%=customer._id %>" required disabled>
          </div>
          <!-- COMMON TO EDIT AND CREATE -->
          <%include partial_edit.ejs%>
           
        </form>
      </div>
    </div>
  </div>
</div>