<!--* Update operation file for customers in customers view .* @ Author: Sambi Reddy Chaimella*/-->

<br />
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col col-md-12">
      <h2>Edit Customer </h2>
      <div class="content">
        <form method="POST" action="/customer/save/<%=customer._id %>">
          <div class="form-group" id="frm">
            <label for="_id">customer ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%=customer._id %>" required disabled>
          </div>
          <!-- COMMON TO EDIT AND CREATE -->
          <%include partial_edit.ejs%>
            <input type="submit" value="Save" class="btn btn-primary" />
          </form>
        <br />

        <form method="get" action="/customer">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>